.left_menu{
  height: 100%;
  position:fixed; // keep fixed to window
left: 0;
  width: 250px;
  background: #555;
}

.right_content{
  margin-left:250px;
}


.left_menu a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

mat-sidenav {
  width: 300px;
}
