<mat-progress-bar mode="indeterminate" *ngIf="loading === 'isLoading' " [value]="10" [mode]="mode" color="warn"></mat-progress-bar>

<img src="assets/logo_pk.svg" height="40" class="center"/>

<div>
  <div id="myDiv" class="formDiv" #myDiv>
    <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
      <div class="form-row" style="margin: 20px">
        <div id="card-info" #cardInfo></div>

        <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
      </div>

      <button type="submit" data-tid="elements_examples.form.pay_button" #SubmitButton>Payer {{Amount}}</button>
    </form>
  </div>


  <div class="success" #loader>
    <div class="icon">
      <svg width="84px" height="84px" viewBox="0 0 84 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <circle class="border" cx="42" cy="42" r="40" stroke-linecap="round" stroke-width="4" stroke="#000" fill="none"></circle>
        <path class="checkmark" stroke-linecap="round" stroke-linejoin="round" d="M23.375 42.5488281 36.8840688 56.0578969 64.891932 28.0500338" stroke-width="4" stroke="#000" fill="none"></path>
      </svg>
    </div>
    <h3 class="title" data-tid="elements_examples.success.title">Paiement effectué</h3>
    <p class="message"><span data-tid="elements_examples.success.message">Merci d'avoir essayé ParkopolyPay. Aucuns fonds n'ont été débités </span></p>
  </div>
</div>

