<mat-toolbar color="accent" class="navBarColor">
  <span>My Application</span>
</mat-toolbar>

<mat-grid-list cols="4" rowHeight="80px">
  <mat-grid-tile [colspan]="4" [rowspan]="3"  class="FirstAL">
      <div style="text-align: center;">
        <h3>Suivre et contacter votre driver</h3>
        <img style="margin-top: 30px" src="assets/noun_tracker_1315948_000000.svg" height="120"/>
      </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="3"  class="SecondColor">
    <div style="text-align: center;">
      <img src="assets/noun_Car_551726_000000.svg" height="160"/>
      <h3 style="margin-top: 30px">États des lieux et facture</h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="3"  class="ThirdColor">
    <div style="text-align: center;">
      <img src="assets/noun_payment_1844415_000000.svg" height="110"/>
      <h3 style="margin-top: 80px">Paiement</h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="3"  class="FourthColor">
    <a href="tel:+33782798614"></a>
    <div style="text-align: center;">
      <img src="assets/noun_Headphones_1855590_000000.svg" height="120"/>
      <h3 style="margin-top: 30px">Contacter l'assistance</h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="3"  class="FiverColor">
      <div style="text-align: center;">
        <img src="assets/noun_Document_1319274_000000.svg" height="120"/>
        <h3 style="margin-top: 30px">Conditions générales</h3>
      </div>
  </mat-grid-tile>
</mat-grid-list>


